// better identity style
.identity {
  display: table;
  width: 100%;
  table-layout: fixed;

  &-pic {
    display: table-cell;
    width: 100%;

  }

  &-desc {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }

  &-subheading {
    font-size: 12px;
    color: #777;
    height: 16px;
    margin-top: 2px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }
}
