@mixin box-sizing($box) {
  -webkit-box-sizing: $box;
     -moz-box-sizing: $box;
      -ms-box-sizing: $box;
          box-sizing: $box;
}

// GRADIENTS
// --------------------------------------------------

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// color helper

.moonstone {
  color: $grey;
}


// text align helper
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// transition
@mixin transition($arg){
  -webkit-transition:$arg;
          transition:$arg;
}


// background-size
@mixin background-size($bg-size){
  -webkit-background-size: $bg-size;
     -moz-background-size: $bg-size;
       -o-background-size: $bg-size;
          background-size: $bg-size;
}
