$font-family:			"Helvetica Neue", Helvetica, Arial, sans-serif;


// color variables

$white:						#fafafa;
$black-mild:			#999;
$black-cozy:			#555;
$black-rough:			#333;
$black:						#111;
$main-orange:			#f46d33;

// heading size

